body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

ul {font-size:20px}
body {
    font-family: sans-serif;}

h1 {color: violet }

p { color:red }
